<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="advanced.todo.com.daggerlearn">

	<uses-permission android:name="android.permission.INTERNET" />

	<permission android:name="com.todo.daggerlearn.SEND_COFFEE" />

	<application
		android:name=".application.TodoApplication"
		android:allowBackup="true"
		android:icon="@drawable/todo"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".activity.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.FruitActivity" />
		<activity android:name=".activity.DrinkActivity" />

		<receiver android:name=".broadcast.CoffeeReceiver">
			<intent-filter>
				<action android:name="com.todo.daggerlearn.coffee" />
			</intent-filter>
		</receiver>

		<activity android:name=".activity.BookActivity"></activity>
	</application>

</manifest>